.rocoUserOverviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 2vw;
  width: 70vw;
  height: 100%;

  .rocoUserOverviewSectionMain {
    display: flex;
    width: 100%;
    height: 70vh;
  }
}
