.textAndLink{
    color: #23395d;
    font-size: 14px;
    margin: 1rem 0rem;
    span:first-child{
        margin-right: 5px;
    }
    a{
        font-weight: 600;
        text-decoration: none;
        color: #152238;
    }
}