.baseStatus {
  width: 250px;
  height: 40px;
  border: 2px solid rgb(255, 255, 255, 0.4);
  border-radius: 10px;
  display: flex;
  color: rgb(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  
}
