.decorkContentFirstColumn {
  flex-grow: 1;
  flex-basis: 55%;
  box-sizing: border-box;
  padding:15px 0px 0px 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  height: auto;
}
