.tWorkDashboard {
  background-color: #f4f9fe;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  // font-family: "Raleway", sans-serif;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
