.firstAuth{
    width: 100vw;
    height: 100vh;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
}
