.prismAlert{
    text-align: center;
    background-color: chartreuse;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;

    .closeIcon{
        position: absolute;
        right: 4%;
        font-size: 20px;
    }
}