.homelyGridViewSection {
  margin-top: 2rem;
  padding: 0px 2.5rem;
  height: 75vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  column-gap: 2rem;
//   .homelyHomeCardWrapper {
//     &:first-child {
//       margin-left: 0px;
//     }
//     &:last-child {
//       margin-right: 0px;
//     }
//   }
}
