.latestAnimeCard {
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  position: relative;
  transition: all 250ms ease-in-out;

  &:hover {
    background-size: 120%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.7)
    );
  }
  .LACicon {
    font-size: 90px;
    opacity: 0;
    bottom: -30px;
    transform: translateY(50%);
    z-index: 3;
    transition: all 300ms ease-in-out;
  }

  &:hover .LACicon {
    opacity: 1;
    transform: translateY(0%);
  }

  .infoSection {
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: 10px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      margin-left: 3%;
      color: white;
      font-weight: 500;
      font-size: 0.75rem;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      transition: all 250ms ease-in;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      font-weight: 900;
      font-size: 1.2rem;
      margin-right: 3%;
      color: white;
    }
  }
}
