.grfdSidebar{
    flex: 0.2;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 0px;
    border-right: 1px solid gainsboro;

    .sideBarLogo{
        font-size: 40px;
        // padding-left: 13%;
        color: grey;
    }
    .sidebarButtonWrapper{
        margin: 3rem 0px;
    }
}

@media (max-width: 900px) {
    .grfdSidebar {
      display: none;
    }
  }
  

